<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Playground</h1>
        <ul>
            <% for(let j=1; j<11; j++) { %>
            <li>
                <%= j %>
            </li>
            <% } %>
        </ul>
    </body>
</html>